h1 {
  font-size: 48px;
  color: #473e3e;
  margin: 12px 0;
}

a {
  padding: 12px;
  background-color: #a7014e;
  color: #f0f8ff;
  border: 1px solid #a7014e;
  border-radius: 4px;
  font-size: 24px;
}

a:hover {
  background-color: #b40c5a;
  text-decoration: none;
}

ol {
  list-style: none;
  width: 500px;
  margin: 36px auto 0 auto;
  padding: 0;
}

li {
  padding: 16px;
  background-color: #df887c;
  border-radius: 6px;
  margin: 32px;
  padding: 2px 5px 2px 5px;
}
